<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Speaking</title>
</head>
<body>
    <table class='table' >
        <tbody>
            <tr >
                <td><a [routerLink] ="['/speaking-data', 1]">Read Aloud</a></td>
                <td><a [routerLink] ="['/speaking-data', 2]">Describe Image</a></td>
                <td><a [routerLink] ="['/speaking-data', 3]">Retell Lecture</a></td>
                <td><a [routerLink] ="['/speaking-data', 4]">Short Answer</a></td>
                <td><a [routerLink] ="['/speaking-data', 5]">Repeat Sentense</a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>