<h1>Hello fellas </h1>
<p>
    Welcome To My PTE Blog </p> 

 <p>About Me:</p>

 <p>
    I dont want to give my profession info which is not going to help you anymore for your PTE :).
    I am just one of you, who wants to clear PTE with good score to get Australian PR. I have given PTE many times and finally cleared in 5th attempt to get desired score.
    Another thing which i want to mention here is, I just missed PTE in just 1 mark 3 times(It is my fault since i haven't improved anything).
    This website contains very important information which I tried to gain from web and all other sources.

</p>

<p>What made me to develop this webisite.</p>
<p>
    It took lot of time for me to google and gather all info for preparing PTE. Why not put all this information into web so that everyone can use?
    I have lot of friends who is asking me for material and struggling to get required score, so thought of putting important information in proper way.
    This website will have only required info which is required for real time preparation.
</p>

<p>Purpose:</p>
<ul>
    <li>The whole purpose of this website is to get all pte preparation info at one place.</li>
    <li>  Reduce the preparation time for googling to understand how to prepare.          </li>
    <li>  I dont want others to struggle the same way i struggle.                         </li>
    <li>  Time is precious, so why to waste it when we have all info at one place.        </li>
    <li>  I feel experience always matters, the best teacher is always the person who took exam many times in PTE and tried many options to get desired score.</li>
    
</ul>

<p>To help you get started, we've also set up:</p>
<ul>
    <li><strong>Speaking</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Writing</strong>. For faster initial loading and improved SEO, your Angular 2 app is prerendered on the server. The resulting HTML is then transferred to the browser where a client-side copy of the app takes over.</li>
    <li><strong>Reading</strong>. In development mode, there's no need to run the <code>webpack</code> build tool. Your client-side resources are dynamically built on demand. Updates are available as soon as you modify any file.</li>
    <li><strong>Listning</strong>. In development mode, you don't even need to reload the page after making most changes. Within seconds of saving changes to files, your Angular 2 app will be rebuilt and a new instance injected is into the page.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and the <code>webpack</code> build tool produces minified static CSS and JavaScript files.</li>
</ul>
